$highlight-green: #63AD26;
$background-color: #CDFFA4;
$button-highlight: #9C46A3;

* {
    box-sizing: border-box;
}

.navbar {
    background-color: $highlight-green !important;
    li {
        padding-left: 0px; // pitäis saada vain siinä desktopissa
    }
}

// taustaväri tai kuva
body {
    background-color: $background-color;
}

// sivun koko korkeus
.container:nth-child(2) {
    height: 100vh;
    height: calc(100vh - 58px); // vähän epäilyttävä korjaus, en tiedä teenkö
    
}
.row:first-child {
    margin: 10px;
    //min-height: 200px;
    div {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    p {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.7em;
        text-align: center;
    }
}
.row:last-child {
    margin: 10px;
    div[class*="col"] { // jätänkö tähän tällasen vaan, että olis käytetty niitä?
        padding-top: 15px;
        padding-bottom: 15px;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
        //font-size: 2em;
        text-align: justify;
    }
    button {
        background-color: $button-highlight;
    }
}







// wild-card bordereille
// div[class*="col"], p {
//     border: 1px solid black;
// }

.container:nth-child(2) div[class*="col"] {
    background-color: #63AD26;
    
}

.mt-5 {
    margin-top: 15% !important;
}

.mt-4 {
    margin-top: 25px !important;
}

// p {
   //position: absolute;
    //top: 55%;
    //left: 50%; // 0 
//}

// About-sivun omat muotoilut
