@charset "UTF-8";
* {
  box-sizing: border-box;
}

.navbar {
  background-color: #63AD26 !important;
}
.navbar li {
  font-weight: bold;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 0px;
}
.navbar p {
  background-color: #000000;
  border-radius: 30px;
  width: 60px;
  text-align: center;
  margin-bottom: 0;
}
.navbar p i {
  font-size: 2em;
  color: #9C46A3;
}

body {
  background-color: #CDFFA4;
}

.container:nth-child(2) div[class*=col] {
  background-color: #63AD26;
}
.container:nth-child(2) div[class*=col] i {
  font-size: 2em;
  color: #9C46A3;
  background-color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}

.row:first-child {
  margin: 10px;
}
.row:first-child div {
  padding-top: 15px;
  padding-bottom: 15px;
}
.row:first-child p {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.row:last-child {
  margin: 10px;
}
.row:last-child div[class*=col] {
  padding-top: 15px;
  padding-bottom: 15px;
}
.row:last-child p {
  font-family: "Oswald", sans-serif;
  text-align: justify;
}
.row:last-child button {
  color: #000000;
  background-color: #9C46A3;
  border: 5px solid #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

#buttons button {
  color: #000000;
  background-color: #9C46A3;
  border: 5px solid #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
}

.mt-5 {
  margin-top: 15% !important;
}

.mt-4 {
  margin-top: 25px !important;
}

#image-box {
  border: 10px solid #9C46A3;
}
#image-box img {
  mix-blend-mode: darken;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.accordion-item {
  background-color: #9C46A3;
}
.accordion-item .accordion-body {
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}
.accordion-item .accordion-button {
  font-weight: bold;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #E9A1F0;
}
.accordion-item .accordion-button:focus {
  border-color: #000000;
  box-shadow: 0 0 0 0.25rem #000000;
  opacity: 0.5;
}
.accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url(../images/purple.png);
}

/* Tekstit, joissa ulkoinen fontti */
h1 {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

#game-container {
  height: 80vh;
  background-color: #63AD26;
  margin-top: 10px;
}

/* Yläosa eli ohjekenttä, kysymyskenttä ja tuloskuva */
#instructions {
  text-align: center;
  padding: 20px;
}

#question {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.2em;
}

#img-box {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 4px;
}
#img-box #rightness {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#img-box #answer-image img {
  height: 50px;
  width: auto;
  margin-top: 10px;
}

/* Vastausosion muotoilu  */
#answer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
#answer #answer-field {
  border-radius: 15px;
  text-align: center;
  width: 25%;
}

/* Laskurin sijoitus oikealle */
#counter-section {
  text-align: right;
}
#counter-section span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Nappiosion muotoilut */
#buttons {
  display: flex;
  gap: 20px;
}

#start, #check, #next, #again {
  margin-top: 40px;
  justify-content: center;
  width: 100%;
  height: 50px;
}

#start {
  color: #000000;
  background-color: #9C46A3;
  border: 5px solid #000000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  min-width: 75%;
}

#again {
  margin-top: 10px;
}

/* Tulossivun muotoilut */
#result-box {
  padding-bottom: 20px;
}
#result-box #result {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
#result-box #result #result-text {
  text-align: center;
  font-weight: bold;
}
#result-box #result #result-text span {
  font-size: 1.5em;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
#result-box #result #result-img img {
  height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

/* Virhekentän muotoilut */
.error {
  background-color: lightcoral;
}
.error span {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 5px;
}

/* Kuvien muotoilut, tarkistuskuva ja tuloskuva */
/* Tekstikenttien yhteiset muotoilut */
#instructions, #question, #result {
  background-color: #E9A1F0;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  border: 10px solid #9C46A3;
}

/* Omat responsiviisuusmuotoilut */
@media screen and (max-width: 1300px) {
  #check, #next {
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  #game-container {
    margin-top: 1px;
    height: 90vh;
  }

  h1 {
    margin-bottom: 10px;
  }

  #check, #next {
    margin-top: 0px;
  }

  #game-box {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/*# sourceMappingURL=styles.css.map */
